/* Reset báscio: Tira as margens brancas e chatas do Navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
}

/*--LAYOUT GRID*/
.painel-grid{
    display: grid;
    height: 100vh; /* Força a altura ser 100% da tela */

    /*Definindo as Colunas (Largura)*/
    /*Coluna 1: 250px fixos (Menu)*/
    /*Coluna 2: 1fr (O resto do espaço para o conteúdo*/
    grid-template-columns: 250px 1fr;

    /*Definindo as Linhas (Altura)*/
    /*Linha 1: 60px fixos (Topo)*/
    /*Linha 2: 1fr (O resto da altura para o conteúdo*/
    grid-template-rows: 60px 1fr;

    /*Mapa Visual*/
    grid-template-areas:
        "menu topo"
        "menu principal";

    /*COonexão de Classes HTML no Mapa*/

    .barra-lateral{
        grid-area: menu;
        background-color: #2c3e50;
    }

    .cabecalho{
        grid-area: topo;
        background-color: #e67e22;
    }

    .conteudo-principal{
        grid-area: principal;
        background-color: #ecf0f1;
        color: #333;
    }
}